@charset "UTF-8";

@mixin bdrs($z: 5px) {
  -webkit-border-radius: $z;
  -moz-border-radius: $z;
  border-radius: $z;
}
@mixin posa($t: 0, $r:0, $b: 0, $l:0) {
  position: absolute;
  top: $t;
  right: $r;;
  bottom: $b;
  left: $l
}
@mixin posa-tl($t: 0, $l:0) {
  position: absolute;
  top: $t;
  left: $l;
}

@mixin posa-tr($t: 0, $r:0) {
  position: absolute;
  top: $t;
  right: $r;
}

@mixin posa-bl($b: 0, $l:0) {
  position: absolute;
  bottom: $b;
  left: $l;
}

@mixin posa-br($b: 0, $r:0) {
  position: absolute;
  bottom: $b;
  right: $r;
}

@mixin posf-t($t: 0, $l:0) {
  position: fixed;
  top: $t;
  left: $l;
}

@mixin posf-b($b: 0, $l:0) {
  position: fixed;
  bottom: $b;
  left: $l;
}

@mixin posf($t: 0, $r:0, $b:0, $l:0) {
  position: fixed;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin clear-fix() {
  display: block;
  clear: both;
  content: '';
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin lh($lh: 1) {
  line-height: $lh;
}

@mixin bdt($t: 1px, $c: #000) {
  border-top: $t solid $c;
}

@mixin bdb($b: 1px, $c: #000) {
  border-bottom: $b solid $c;
}

@mixin bdr($r: 1px, $c: #000) {
  border-right: $r solid $c;
}

@mixin bdl($l: 1px, $c: #000) {
  border-left: $l solid $c;
}

@mixin bd($t: 1px, $c: #000) {
  border: $t solid $c;
}

@mixin line2($l: 2) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}

@mixin line1() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

@mixin txt-h {
  font-size: 0;
  text-indent: -999999px;
}

//media query

@mixin m-l {
  @media (min-width: $m-l) {
    @content;
  }
}
@mixin t-s {
  @media (min-width: $t-s) {
    @content;
  }
}
@mixin t-m {
  @media (min-width: $t-m) {
    @content;
  }
}
@mixin p-s {
  @media (min-width: $p-s) {
    @content;
  }
}
