
.features-contents {
  .bnf-comp {
    .content {
      padding: 96px 0 0;

      .content-header {
        order: 1;
      }

      .ico-list-wrap {
        order: 2;
      }

      .user-list-wrap {
        order: 0;
        margin-bottom: 5.6rem;
      }
    }
  }

  .features-content {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    section {
      article {
        max-width: 1280px;
        width: 90%;
        margin: 0 auto;
        padding: 128px 0;
        box-sizing: border-box;
        position: relative;
        gap: 3rem;
        justify-content: space-between;

        &::after {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: 50%;
          right: 0;
          width: 100vw;
          height: 100%;
          transform: translateX(-50%);
          z-index: -1;
        }

        &:nth-of-type(2) {
          &::after {
            background-color: $grey;
          }

        }

        &:nth-of-type(4) {
          &::after {
            background-color: $light-yellow;
          }
        }

        .img-wrap,
        .art-media {
          width: 40%;
        }
        .img-wrap {
          height: 0;
          overflow: hidden;
          padding-bottom: calc((100% * 0.4) * 0.7);
        }

        .art-tet {
          @include flex-col(1.5rem);

          h6 {
            &.tit-h6 {
              font-size: 3.8rem;
              font-weight: $b;
            }
          }

          .txt-r {
            width: 90%;
          }
        }
      }
    }
  }
}

@include t-l {
  .features-contents {
    .features-content {
      .layout-ty02 {
        article {
          .art-tet {
            h6 {
              &.tit-h6 {
                font-size: 3.6rem;
                font-weight: $md;
              }
            }
          }
        }
      }
    }
  }
}



@include t-s {
  .features-contents {
    .features-content {
      .layout-ty02 {
        article {
          display: flex;
          flex-direction: column-reverse;

          .img-wrap,
          .art-media {
            width: 100%;
          }
          .img-wrap {
            padding-bottom: 70%;
          }
          .art-tet {
            width: 100%;
            align-items: center;
            text-align: center;
          }
        }
      }
    }
  }
}

@include m-l {
  .features-contents {
    .features-content {
      .layout-ty02 {
        article {

          .art-tet {
            h6 {
              &.tit-h6 {
                font-size: 3.2rem;
              }
            }

            .txt-r {
              width: 100%;
            }
          }
        }
      }
    }
  }

}
