.table-ty {
  @include bdt(2px, $black);
}

.table-row {
  @include bdb(1px, $border_clr);
}

.table-col {
  display: table;
  width: 100%;
  height: auto;
  min-height: $font-32r;
  text-align: center;

  .lf {
    text-align: left;
  }

  .ri {
    text-align: right;
  }

}

.table-col li {
  display: table-cell;
  padding: 10px;
  box-sizing: border-box;
  @include lh(1.6);
  vertical-align: middle;
  word-wrap: break-word;
  word-break: break-all;

  &.col1 {
    width: 15%;
  }

  &.col2 {
    width: 15%;
  }

  &.col3 {
    width: 30%;
  }

  &.col4 {
    width: 15%;
  }

  &.col5 {
    width: 25%;
  }

}