/* common */


.skip {
  display: block;
  height: 1px;
  width: 1px;
  margin: 0 -1px -1px 0;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0; }
.skip:hover, .skip:active, .skip:focus {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px 0;
  text-indent: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  line-height: 1;
  text-decoration: none !important;
  position: relative;
  text-align: center;
}

.skip {
  display: block;
  height: 1px;
  width: 1px;
  margin: 0 -1px -1px 0;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.skip:hover, .skip:active, .skip:focus {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px 0;
  text-indent: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  line-height: 1;
  text-decoration: none !important;
  position: relative;
  text-align: center;
}


// 웹접근성용 안내 문구 숨김

.blind {
  font-size: 0;
  position: absolute;
  text-indent: -9999px;
}

.i {
  display: block;
  overflow: hidden;
  @include posa-tl(0, -99999999px);
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -999999px;
}

//레이어팝업 활성화 클래스 on
//.on {
//  display: block !important;
//}

// 1줄 이상 텍스트 말줄임 no-wrap

.line1 {
  display: block;
  width: 100%;
  @include line1;
}

.cf::after, .cf::before {
  content: "";
  display: block;
  clear: both;
}

// m-small 줄바꿈 조절
.m-ver {
  display: block;
  @include m-l {
    display: none;
  }
}