@charset "UTF-8";
//=======================================================//
// file     : variables
// date     : 20220225
//=======================================================//

$font_fm_1: 'Noto Sans KR';
$font_fm_2: 'Aktiv Grotesk';
$font_fm_3: 'hanaB';
$font_fm_4: 'Microsoft Yahei';

$r: 100;
$md: 600;
$b: 900;

$full_w: 1200px;
$middle_w: 768px;
$narrow_w: 360px;

$point_clr1 : #00907f;
$point_clr2 : #ee245a;
$point_clr2_bg : #d14369;
$point_clr3 : #43ccd1;
$point_clr4 : #385981;