@charset "utf-8";

/* ========================================================== */

/*                                                            */

/* file		: content                                      	  */
// writer	: Ryu
// date		: 20201215

/*                                                            */

/* ========================================================== */

/* ---------------------------------------------------------- */

/* content s ================================================ */
.only_pc {
  @include mdq_m {
    display: none;
  }
}

.only_t {
  display: none;
  @include narrow_custom {
    display: block;
  }
  @include mdq_m {
    display: none;
  }
}

.only_m {
  display: none;
  @include mdq_m {
    display: block;
  }
}

.hidden_txt {
  @include t_idt;
}

.text_desc {
  color: $default_fc;
  @include fnt_set($l, 1.5em, 22px, -1.13px);
}

.point_clr {
  color: $point_clr;
}

.visual_table {
  // 230110 아이폰에서 위 아래로 늘어지는 문제로 삭제
  //.td_img {
  //  @include mdq_custom {
  //    img {
  //      height: 100%;
  //    }
  //  }
  //}
  .td_bg_1 {
    background: $point_clr;
    color: #fff;
    padding: 40px 25px;
    @include mdq_m {
      padding: 20px 16px;
      vertical-align: baseline;
    }
  }

  .td_bg_2 {
    background: #eee;
    height: 212px;
    padding: 40px 24px;
    text-align: center;

    @include mdq_m {
      height: 156px;
      padding: 20px 10px;
      word-break: keep-all;
    }

    br {
      @include mdq_m {
        display: none !important;
      }
    }
  }

  .td_bg_3 {
    background: #49aac4ff;
    color: #fff;
    padding: 40px 25px;
    vertical-align: bottom;
    @include mdq_m {
      padding: 20px 16px;
      vertical-align: middle;
    }
  }

  .t_lg {
    @include fnt_set($l, 2.5em, 30px, -1.88px);
    @include mdq_m {
      @include fnt_set($sb, 1.8em, 1.28, -1.8px);
    }
  }

  .t_sy {
    font-size: 13px;
    @include mdq_m {
      @include fnt_set($l, 14px, 1.17, -1px);
    }
  }

  .t_sm {
    @include fnt_set($l, 1.5em, 20px, -1.13px);

    br {
      @include mdq_m {
        display: none !important;
      }
    }

    @include mdq_m {
      text-align: center;
      word-break: keep-all;
      @include fnt_set($l, 14px, 1.18, -1px);
    }
  }
}

.line_bx_wrap {
  width: 100%;

  h5 {
    @include fnt_set($l, 1.5em, 44px, -1.13px);

    b {
      font-size: 19px;
      font-weight: $b;
    }
  }

  .line_bx {
    border-bottom: 1px solid #dcdcdc;
    border-top: 2px solid #000;
    padding-bottom: 50px;
    padding-top: 40px;

    .txt_desc {
      @include fnt_set($l, 1.7em, 24px, -1.28px);
    }
  }

  @include mdq_m {
    @include flex-col(15px);

    h5 {
      @include fnt_set($l, 26px, 1.27, -2.6px);

      b {
        font: {
          size: 26px;
          weight: $b;
        };
      }
    }

    .line_bx {
      border-bottom: unset;
      padding-bottom: 0;
      padding-top: 20px;

      .txt_desc {
        @include fnt_set($r, 16px, 1.4, -1px);
      }
    }
  }
}

.tag_label_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  width: 100%;

  .tag_label {
    border: 1px solid #000;
    border-radius: 35px;
    display: inline-block;
    margin: 20px 20px 0;
    padding: 15px 30px;
    @include fnt_set($l, 2.1em, unset, -1.58px);
  }

  @include mdq_m {
    gap: 10px;
    padding-top: 25px;

    .tag_label {
      box-sizing: border-box;
      margin: 0;
      padding: 10px 0;
      text-align: center;
      width: 100%;
      @include fnt_set($r, 16px, 1.44, -1px);

    }
  }
}

.point_label {
  border: 1px solid $point_clr;
  border-radius: 15px;
  color: $point_clr;
  display: inline-block;
  padding: 4px 10px 3px;
  @include fnt_set($l, 13px, 20px, -0.98px);
  @include mdq_m {
    border: 1px solid #717171;
    box-sizing: border-box;
    color: #717171;
    display: block;
    height: 30px;
    padding: 0 22px;
    width: fit-content;
    @include fnt_set($r, 15px, 30px, -0.5px);
  }
}

.rect_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &.type1 {
    li {
      margin-top: 30px;
      width: 200px;
      @include narrow_custom {
        //width: calc(( 100% / 3 ) - 50px );
        width: 30%;

        &:nth-child( -n+3 ) {
          //margin-bottom: 30px;
        }
      }
    }

    .rect_item {
      .rect {
        align-items: center;
        background: #1293c3;
        border-radius: 30px;
        display: flex;
        height: 136px;
        justify-content: center;
        width: 100%;

        img {
          width: 60px;
        }
      }

      p {
        padding-top: 20px;
        @include fnt_set($l, 2.1em, unset, -1.58px);

        span {
          display: block;
          padding-top: 20px;
          @include fnt_set($l, 15px, 24px, -1.58px);
        }
      }
    }
  }

  &.type2 {
    li {
      margin-top: 30px;
      width: 200px;
      @include narrow_custom {
        //width: calc(( 100% / 3) - 50px );
        width: 30%;

        &:nth-child( -n+3 ) {
          //margin-bottom: 30px;
        }
      }
    }

    .rect_item {
      .rect {
        background: #535353;
        height: 160px;
        padding: 56px 15px 0 20px;
        width: 100%;

        span {
          color: #fff;
          @include fnt_set($l, 2.1em, 26px, -1.58px);
        }
      }
    }
  }

  @include mdq_m {
    &.type1 {
      li {
        margin-top: 30px;
      }

      .rect_item {
        .rect {
          border-radius: 15px;
        }

        p {
          padding-left: 4px;
          padding-top: 10px;
          word-break: keep-all;
          @include fnt_set($eb, 18px, 1.33, -1.8px);

          span {
            color: #717171;

            //display: block;
            padding-top: 5px;
            @include fnt_set($r, 14px, 1.29, -1.4px);
          }
        }
      }
    }

    &.type2 {
      li {
        flex-basis: calc((100% - 8px) / 2);
        margin-top: 0;
        width: 100%;
      }

      .rect_item {
        .rect {
          height: 134px;
          padding: 25px 15px;
          @include bdrs(15px);

          span {
            @include fnt_set($eb, 18px, 1.33, -1.8px);

            //color: #fff;
            //@include fnt_set($l, 2.1em, 26px, -1.58px);
          }
        }
      }
    }
  }
}

.gray_line {
  background: url(#{$img_url}contact/cntc_line_bg.png) no-repeat;
  display: inline-block;
  height: 1px;
  width: 97px;
}

.number_ul {
  .number_item {
    align-items: center;
    display: flex;

    .number {
      background: url(#{$img_url}contact/cntc_line_bg2.png) no-repeat 100% 50%;
      display: inline-block;
      width: 80px;
      font: {
        family: $third_font;
        size: 130px;
      }
    }

    .number_con {
      display: inline-block;
      padding-left: 20px;
      width: calc(100% - 90px);
    }
  }
}

.line_sep_dl {
  dt,
  dd {
    display: inline-block;
    font-weight: $l;
    vertical-align: top;
  }

  dt {
    width: 100px;
  }

  dd {
    border-left: 1px solid #ccc;
    margin-left: 20px;
    padding-left: 20px;
    width: calc(100% - 130px);

    > ul {
      margin-top: -10px;

      > li {
        display: inline-block;
        font-weight: $l;
        margin-right: 20px;
        margin-top: 10px;
      }
    }
  }

  @include mdq_m {
    dt,
    dd {
      width: 100%;
    }

    dt {
      font-weight: $eb;
    }

    dd {
      border-left: unset;
      margin-left: 0;
      padding-left: 0;

      > ul {
        margin-top: unset;

        > li {
          display: block;
          font-weight: $r;
          margin-left: 16px;
          margin-top: 8px;
          text-indent: -16px;
        }
      }
    }
  }
}

.txt_wrap {
  .tw_1 {
    padding-bottom: 30px;
    @include fnt_set($l, 2.7em, 35px, -2.03px);
  }

  .tw_2 {
    padding-bottom: 30px;
    @include fnt_set($l, 1.5em, 21px, -1.13px);
  }

  @include mdq_m {
    padding-top: 40px;
  }
}

.blk_item_wrap {
  margin-top: 90px;

  &:first-child {
    margin-top: 0;
  }

  .blk_label {
    background: #000;
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    padding: 1px 20px 0;
    @include fnt_set($b, 1.7em, unset, -1.28px);
  }

  .blk_tit_con {
    padding-top: 25px;

    .blk_tit {
      display: inline-block;
      vertical-align: top;
      width: 420px;
      @include fnt_set($l, 3.1em, 41px, -2.33px);
      @include narrow_custom {
        width: 400px;
      }
    }

    .blk_con {
      display: inline-block;
      padding-left: 0;
      vertical-align: top;
      width: calc(100% - 430px);
      @include fnt_set($l, 1.9em, 27px, -2.33px);

      .point_clr {
        .only_pc {
          @include narrow_custom {
            display: none;
          }
        }
      }

      .dot_ul {
        padding-top: 25px;

        > li {
          @include fnt_set($l, 15px, 20px, -1.13px);

          &::before {
            height: 4px;
            top: 6px;
            width: 4px;

          }
        }

        @include mdq_m {
          padding-top: 20px;

          > li {
            color: #717171;
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-left: 15px;
            @include fnt_set($r, 16px, 1.3, -1px);

            &::before {
              height: 8px;
              top: 5px;
              width: 8px;
            }

            &.no_dot {
              padding-top: 6px;
            }
          }
        }
      }

      .point_label {
        margin-top: 5px;
        @include mdq_m {
          margin-top: 8px;
        }
      }
    }
  }

  @include mdq_m {
    margin-top: 75px;

    &:first-child {
      margin-top: 50px;
    }

    .blk_label {
      border-radius: 30px;
      display: inline-block;
      padding: 8px 21px;
      @include fnt_set($r, 14px, unset, unset);
    }

    .blk_tit_con {
      padding-top: 15px;

      .blk_tit {
        width: 100%;
        @include fnt_set($eb, 24px, 30px, -1px);
      }

      .blk_con {
        padding-top: 20px;
        width: 100%;
        word-break: keep-all;
        @include fnt_set($r, 16px, 23px, -1px);
      }
    }
  }
}

/* content e ================================================ */

/* ---------------------------------------------------------- */