@charset "UTF-8";

/* ========================================================== */

/*                                                            */

/* file		: scrollbar                                  	  */
// writer	: Ryu
// date		: 20190901

/*                                                            */

/* ========================================================== */

/* ---------------------------------------------------------- */

/* scrollbar s ============================================== */

/* 20221102 작업중
.con_works {
  @include full_custom {
    #contents {
      > div {
        height: 100vh;
        min-height:1080px;
        overflow: auto;
        scroll-snap-type: y mandatory;

        .works_box {
          height: 100vh;
          scroll-snap-align: center;
        }
      }
    }
  }
}
*/

/* scrollbar e ============================================== */

/* ---------------------------------------------------------- */