@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: layout                                     	  */
// date		: 20220303
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* layout s ================================================= */
body {
  min-width: 1240px;
  background: #fff;
  color: #333;
  font-family: 'Aktiv Grotesk', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Tahoma, Verdana, Geneva, sans-serif, Apple Gothic, AppleGothic;
  font-size: 15px;
  font-weight: 100;
  line-height: 24px;
  -webkit-text-size-adjust: none;
  /*overflow-y:scroll;*/
}

#wrap {
  position:relative;
  width:100%;
  background:#fff;
  overflow:hidden;
}

.dimd {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 9;
  display: none;
}

.guide {
  height: 138px;
  box-sizing: border-box;
  color: #000;
  font-size: 15px;
  line-height: 138px;
  text-align: center;
}

a.skip_area {
  position:absolute;
  left:0;
  top:-60px;
  display:block;
  width:100%;
  height:40px;
  background:#404b57;
  color:#fff;
  font-size:15px;
  text-align:center;
  line-height:40px;
  z-index:1000;
  &:active,
  &:focus {
    position: fixed;
    top: 0;
  }
}

#container{
  position: relative;
  width: 100%;
  padding: 110px 0 20px 0;
  background: #f4f4f4;
  &.on{
    .title{
      position: fixed;
      left: 0;
      top: 49px;
      width: 100%;
      padding: 25px 0;
      background: url(../images/template/bg_w90.png) repeat/*rgba(255,255,255, 0.95)*/;
      border-bottom: 1px solid #eaeaea;
      font-size: 28px;
      em{
        margin-bottom: 5px;
        font-size: 14px;
      }
    }
  }
}

.cont_area {
  position: relative;
  width: $full_w;
  margin: 49px auto 0 auto;
  padding-top: 139px;
  background: #fff;
  &.bg {
    width: 100%;
    background: #f4f4f4;
    border-top: 1px solid #eaeaea;
    .cont_box {
      padding-top: 50px;
    }
  }
}

.cont_area02 {
  position: relative;
  width: 100%;
  left: 0;
  margin: 49px 0 -20px 0;
  padding-top: 139px;
  background: #fff;
  overflow: hidden
}

.cont_area03 {
  position: relative;
  width: 100%;
  margin: 49px 0 -20px 0;
  padding-top: 139px;
  background: #fff;
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 40px 0 40px 0;
  color: #000;
  font-family: 'hanaB';
  font-size: 34px;
  font-weight: 100;
  line-height: 34px;
  letter-spacing: -2px;
  text-align: center;
  z-index: 100;
  transition: padding 0.4s, font-size 0.4s;

  em {
    display: block;
    margin-bottom: 10px;
    color: #00907f;
    font-family: 'Aktiv Grotesk', 'Noto Sans KR';
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0;
    transition: all 0.4s;
  }
}

.cont_box {
  position: relative;
  width: $full_w;
  /* min-height: 500px; */
  margin: 0 auto;
  padding: 0 95px 80px 95px;
  background: #fff;
  box-sizing: border-box;

  &.bg {
    &::before {
      position: absolute;
      left: -50%;
      top: 100px;
      width: 100%;
      height: 100%;
      background: #fff;
      content: "";
    }

    &::after {
      position: absolute;
      right: -50%;
      top: 100px;
      width: 100%;
      height: 100%;
      background: #fff;
      content: "";
    }
  }

  .cont {
    position: relative;
    margin-bottom: 50px;

    &.pt {
      padding-top: 25px;
    }
  }

  .cont_s {
    padding-top: 40px;

    &.fir {
      padding-top: 0;
    }
  }
}

/**/
.info_summary_ty {
  position:absolute;
  top:6px;
  left:0;
  li {
    position:relative;
    float:left;
    margin-left:10px;
    padding-left:10px;
    &::before {
      position:absolute;
      left:0;
      top:8px;
      width:1px;
      height:13px;
      background:#ddd;
      content:"";
    }
    &:first-child {
      margin-left:0;
      padding-left:0;
      &::before {
        display: none;
      }
    }
    a {
      span {
        font-size:15px;
      }
    }
    &.buy {
      a {
        color:$point_clr2;
      }
    }
    &.return {
      a {
        color:$point_clr1;
      }
    }
  }
}


/* mega_ty */
.mega_ty {position:absolute;left:0;top:6px;}
.mega_ty li {position:relative;float:left;}
.mega_ty li:before {position:absolute;left:0;top:8px;width:1px;height:13px;background:#ddd;content:"";}
.mega_ty li:first-child:before {display:none;}
.mega_ty li a {position:relative;display:block;height:30px;padding:0 15px;margin-right:-1px;border-radius:3px 3px 0 0;box-sizing:border-box;color:#333;font-family:'hanaB';font-size:13px;line-height:30px;text-align:center;letter-spacing:-0.8px;transition:all 0.4s;z-index:2;}
.mega_ty li a:hover, .mega_ty li a:focus {color:#000;}
.mega_ty li.on a {background:#00907f;color:#fff;}

/* util_list */
.util_list {position:absolute;right:-15px;top:7px;}
.util_list li {position:relative;float:left;padding:0 10px;color:#666;font-size:13px;line-height:23px;}
.util_list > li >  a {display:block;height:23px;padding:0 5px;box-sizing:border-box;color:#666;text-align:center;transition:all 0.4s;}
.util_list > li > a:hover, .util_list > li > a:focus {color:#000;}
.util_list li em {display:block;position:absolute;left:-9999px;top:-9999px;overflow:hidden;}
.util_list li.name {padding:0 20px 0 0;}
.util_list li.name:before {display:none;}
.util_list li.name > a{padding:0 0 0 22px;}
.util_list li.name i {display:block;position:absolute;left:0;top:1px;}
.util_list li.info{padding:0 5px 0 21px;}
.util_list li.info > a{position:relative;padding:0 16px 0 21px;background:url(../images/layout/ico_time.png) 0 center no-repeat;}
.util_list li.info > a:before {display:inline-block;position:absolute;right:0px;top:9px;width:9px;height:6px;background:url(../images/layout/ico_arr_login.png) right center no-repeat;content:"";}
.util_list li.name > a:hover, .util_list li.name > a:focus, .util_list li.info > a:hover, .util_list li.info > a:focus{color:#00907f;}
.util_list li:before {position:absolute;left:0px;top:5px;width:1px;height:12px;background:#ccc;content:"";}
.util_list li.box:before  {display:none;}
.util_list .tooltip {position:absolute;left:50%;top:26px;margin-left:-152px;z-index:100;display:none;}
.util_list .tooltip.on{display:block;}
.util_list .tooltip:before {position:absolute;left:50%;top:-6px;width:0;height:0;margin-left:-7px;border-bottom:7px solid #ccc;border-left:6px solid transparent;border-right:6px solid  transparent;content:"";}
.util_list .tooltip:after {position:absolute;left:50%;top:-5px;width:0;height:0;margin-left:-7px;border-bottom:7px solid #f7f7f7;border-left:6px solid transparent;border-right:6px solid  transparent;content:"";}

.util_list .tooltip .cont {padding:20px 30px 20px;background:#f7f7f7;border:1px solid #ccc;box-sizing:border-box;color:#333;font-size:13px;line-height:20px;text-align:center;z-index:1001;transition:border-color 0.4s;}
.util_list .tooltip .btn_close {display:block;position:absolute;right:12px;top:12px;width:12px;height:12px;background:url(../images/template/btn_tooltip_close.png) center no-repeat;text-indent:-9999px;overflow:hidden;transition:transform 0.4s;font-size:0;}
.util_list .tooltip .btn_close:hover, .util_list .tooltip .btn_close:focus {transform:rotate(90deg);}
.util_list .tooltip .tolltip_hit {display:block;position:absolute;background:#fff;opacity:0;filter:alpha(opacity=0);}
.util_list .tooltip .hit_b {left:0;bottom:0;width:100%;height:40px;}
.util_list li.name .tooltip{margin-left:-88px;}
.util_list li.name .tooltip .cont{width:176px;}
.util_list li.name .tooltip .cont a {position:relative;z-index:2;}
.util_list li.info .tooltip{margin-left:-150px;}
.util_list li.info .tooltip .cont{width:300px;}
.util_list li.info .tooltip .cont a {position:relative;z-index:2;}
.util_list li.info .tooltip p{display:inline-block;margin-top:11px;font-size:13px;color:#666;}
.util_list li.info .tooltip .data{display:inline-block;padding-left:5px;font-weight:600;color:#000;}

.biz .util_list li.name02 {margin-right:10px;}
.biz .util_list li.name {padding:0 10px 0 0;}

/*** tier_banner ***/
#tier_banner {position:relative;background:#2d3f53;}
.tier_banner_cont {position:relative;width:$full_w;margin:0 auto;}
.tier_banner_area {position:relative;display:block;height:0;overflow:hidden;transition:height 0.6s;}
.tier_btn {position:absolute;right:1px;top:13px;width:32px;height:32px !important;background:url(../images/main/tier_btn.png) center no-repeat;text-indent:-9999px;overflow:hidden;transition:all 0.4s;}
.tier_btn:hover, .tier_btn:focus {transform:rotate(180deg);}
#tier_banner.on .tier_banner_area {height:60px;}



/**** breadcrumb ****/
.breadcrumb {position:absolute;left:0;top:110px;width:100%;height:49px;background:#f4f4f4;font-size:0;z-index:101;transition:background 0.4s;}
.breadcrumb .cont {width:$full_w;margin:0 auto;}
.breadcrumb_area:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.breadcrumb .li {position:relative;float:left;padding:7px 0 0 19px;background:url(../images/layout/ico_breadcrumb.png) 7px 21px no-repeat;}
.breadcrumb .li a {position:relative;display:block;color:#000;font-size:13px;font-weight:600;line-height:37px;overflow:hidden;transition:all 0.4s;}
.breadcrumb .li a.link {padding-right:25px;}
.breadcrumb .li a.link em {display:block;position:absolute;left:-9999px;top:-9999px;overflow:hidden;}
.breadcrumb .li a.link:after {position:absolute;right:0;top:9px;width:19px;height:18px;background:#fff url(../images/layout/ico_breadcrumb_op.png) center no-repeat;border:1px solid #ccc;border-radius:3px;box-sizing:border-box;content:"";transition:all 0.4s;}
.breadcrumb .li.act a:after {background-image:url(../images/layout/ico_breadcrumb_cl.png);}
.breadcrumb .home {margin:0 -10px;padding-left:0;background:none;}
.breadcrumb .home a {width:15px;padding:0 10px;background:url(../images/layout/ico_breadcrumb_home.png) center 10px no-repeat;text-indent:-9999px;overflow:hidden;}
.breadcrumb .li .dep {position:absolute;left:0;top:43px;width:500px;display:none;animation:fade both 0.2s;}
.breadcrumb .li .dep ul {display:inline-block;padding:9px 0 8px 0;background:#fff;border:1px solid #333;}
.breadcrumb .li .dep li a {padding:9px 17px;color:#000;font-size:13px;line-height:13px;font-weight:600;transition:all 0.4s;outline:none;}
.breadcrumb .li .dep li a:hover, .breadcrumb .li .dep li a:focus {background:#dae6eb;}
.breadcrumb .li .dep li.on {padding:9px 17px;color:#00907f;font-size:13px;line-height:13px;font-weight:600;cursor:default;}
.breadcrumb .li.act .dep {display:block;}
.breadcrumb.on {position:fixed !important;top:0;background:#00907f;}
.breadcrumb.on .li a {color:#fff;}
.breadcrumb.on .li {background-image:url(../images/layout/ico_breadcrumb_w.png);}
.breadcrumb.on .home a {background-image:url(../images/layout/ico_breadcrumb_home_w.png);}
.breadcrumb.on .home {padding-left:0;background:none;}
.breadcrumb.on .li a.link:after {border-color:#fff;}
.breadcrumb .hit_st, .breadcrumb .hit_ed {display:none;}

/* layout e ================================================= */
/* ---------------------------------------------------------- */