@charset "UTF-8";

/* ========================================================== */

/*                                                            */

/* file		: header                                	      */
// writer	: Ryu
// date		: 20201215

/*                                                            */

/* ========================================================== */

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */

/* header s ================================================= */
$header_padding: 20px;

// $header_padding-top:75px;
$header_padding-top: 58px;
$header_padding-top2: 20px;
$header_motion_time: 0.4s;
$header_padding-m: 15px;

#header {
  min-height: 80px;
  padding-bottom: 20px;
  padding-left: $header_padding;
  padding-top: $header_padding-top;
  text-align: center;
  width: 100%;
  z-index: 10;
  @include posft;
  //@include transition(padding-top, $header_motion_time);
  transition: padding-top 0.4s;

  &.fixed {
    padding-top: $header_padding-top2;
    @include mdq_custom {
      background: #fff;
      padding-top: 25px;
    }

    .header_logo,
    .gnb_btn {
      top: $header_padding-top2;
      //@include mdq_custom {
      //  top: 20px;
      //}
    }
  }

  &.gnb_on {
    background: none !important;
    @include mdq_m {
      .lnb_d1_wrap {
        //display: block;
      }
    }

    .lnb_d1_wrap,
    .lnb_d2_wrap {
      > li {
        &.nuxt-link-active,
        &.router-link-active,
        &.on,
        &:hover {
          > a {
            color: #fff;
          }
        }
      }
    }
  }

  /* 221206 수정 */
  @include mdq_m {
    // background: rgb(255 255 255 / 80%);
    // height: $header_h;
    // min-height: 70px;
    // padding-top: $header_padding-top2;
    background-color: #fff;
    height: $header_h;
    min-height: 60px;
    padding-bottom: $header_padding-m;
    padding-top: $header_padding-m;
    transform: translateY(-60px);
    transition: transform 0.4s;


    .header_logo,
    .gnb_btn {
      // top: $header_padding-top2;
      top: $header_padding-m;
    }

    &.fixed {
      padding-top: $header_padding-m;
      .header_logo,
      .gnb_btn {
        top: $header_padding-m;
      }
    }
    &.active {
      transform: translateY(0);
    }

    .header_logo {
      align-items: center;
      display: flex;
      height: 28px;
      justify-content: center;
    }
  }
}

/* //221206 수정 */

.has_wnd_nav {
  #header.fixed {
    background: #fff;
    //@include mdq_m {
    //  background: $white;
    //}
  }
}

.header_logo {
  cursor: pointer;
  display: inline-block;
  width: 103px;
  @include posa_tl($header_padding-top, $header_padding);
  @include transition(top, $header_motion_time);
  @include mdq_custom {
    top: 52px;
  }
  @include mdq_m {
    // width: 80px;
    width: 68px;
  }
}

.gnb_btn {
  cursor: pointer;
  height: 34px;
  width: 46px;
  @include posa_tr($header_padding-top, $header_padding);
  @include transition(top, $header_motion_time);
  @include mdq_custom{
    top: 53px;
  }

  &,
  .line {
    display: inline-block;
    @include transition(all $header_motion_time);
  }

  .line {
    background-color: #000;
    border-radius: 4px;
    height: 4px;
    position: absolute;
    right: 0;
    width: 100%;

    &:nth-child( 1 ) {
      top: 0;
      width: 70%;
    }

    &:nth-child( 2 ) {
      top: 16px;
      width: 100%;
    }

    &:nth-child( 3 ) {
      bottom: 0;
      width: 70%;
    }
  }

  &.on {
    .line {
      background-color: #fff;
    }

    .line:nth-child( 1 ) {
      @include transform(translate(0, 14px) rotate(-45deg) scale(1.3, 1));
    }

    .line:nth-child( 2 ) {
      @include opacity(0);
    }

    .line:nth-child( 3 ) {
      @include transform(translate(0, -16px) rotate(45deg) scale(1.3, 1));
    }
  }

  /* 221206 수정 */
  @include mdq_m {
    height: 28px;
    width: 32px;

    .line {
      &:nth-child( 2 ) {
        top: 12px;
      }
    }

    &.on {
      .line:nth-child( 1 ) {
        @include transform(translate(0, 12px) rotate(-45deg) scale(1.3, 1));
      }

      .line:nth-child( 2 ) {
        @include opacity(0);
      }

      .line:nth-child( 3 ) {
        @include transform(translate(0, -12px) rotate(45deg) scale(1.3, 1));
      }
    }
  }

  /* // 221206 수정 */
}

/* header e ================================================= */

/* ---------------------------------------------------------- */
