@charset "utf-8";
// ======================================================================== //
// file		: variables
// writer	: oes
// date		: 20230328
// ======================================================================== //

// font==================================================================== s //
$first_font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$second_font:  "Lucida Grande", sans-serif;
$third_font: Georgia, "Times New Roman", serif;
$th: 100;
$l: 300;
$r: 400;
$md: 500;
$sb: 600;
$b: 700;
$eb: 800;
$bk: 900;

$font-6r: 0.6rem;
$font-7r: 0.7rem;
$font-8r: 0.8rem;
$font-9r: 0.9rem;
$font-1r: 1rem;
$font-11r: 1.1rem;
$font-12r: 1.2rem;
$font-12r: 1.2rem;
$font-13r: 1.3rem;
$font-14r: 1.4rem;
$font-15r: 1.5rem;
$font-16r: 1.6rem;
$font-17r: 1.7rem;
$font-18r: 1.8rem;
$font-19r: 1.9rem;
$font-20r: 2rem;
$font-22r: 2.2rem;
$font-24r: 2.4rem;
$font-26r: 2.6rem;
$font-28r: 2.8rem;
$font-30r: 3rem;
$font-32r: 3.2rem;
$font-34r: 3.4rem;
$font-36r: 3.6rem;
$font-40r: 4rem;
$font-46r: 4.6rem;
$font-48r: 4.8rem;
$font-50r: 5rem;
$font-52r: 5.2rem;
$font-60r: 6rem;
$font-72r: 7.2rem;
$font-84r: 8.4rem;
$font-104r: 10.4rem;
// font==================================================================== e //


//layout
$pc-l: 1920px;
$pc-m: 1600px;
$pc-s: 1280px;
$tbl-l: 1024px;
$tbl-m: 961px;
$tbl-s: 641px;
$mo-l: 480px;
$mo-m: 390px;
$mo-s: 320px;



// z-index;
$nav: 100;


